header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  border-bottom: 2px solid gray;
  .boxLogo {
    // border: solid 2px blue;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}

nav {
  //   border: solid 2px green;
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    font-weight: 500;
    &:nth-child(2) {
      background-color: #00745a;
      color: white;
      border-radius: 8px;
      padding: 0.6rem 1.3rem;
    }
  }
}
